<div class = "main-header">
  <div class = "container main-container">

    <div id="title-header">
      <h1 class="text-center"> Food on the Move! </h1>
    </div>

    <div class = "row" id="search-container">

      <a href="/locate">test</a>

      <div class="col-sm-3 search-box">
        <%= form_tag("/search", method:"get") do %>
          <%= label_tag(:food_item, "What are you in the mood for?")%>
          <%= text_field_tag(:food_item) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>

      <div class="col-sm-2 select-distance-box">
        <%= radio_button_tag(:distance, "Close")%>
        <%= label_tag(:less_than_five, "Less Than 5 miles") %> <br>
        <%= radio_button_tag(:distance, "5 miles") %>
        <%= label_tag(:five, "5 miles") %> <br>
        <%= radio_button_tag(:distance, "10 miles")%>
        <%= label_tag(:less_than_five, "10 miles") %> <br>
        <%= radio_button_tag(:distance, "Far") %>
        <%= label_tag(:five, "More Than 10 miles") %><br>
      </div>

      <div class="col-sm-3 search-box">
        <%= form_tag("/search", method:"get") do %>
          <%= label_tag(:truck_name, "Find a Truck you like:")%>
          <%= text_field_tag(:truck_name) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
      <p> <%=@foodtrucks%> </p>
    </div>
  
  </div>

  <div class="container truck-container">
    <div class="row">


  <script type="text/javascript">
    function initialize() {
      var mapCanvas = document.getElementById('map');

      var mapOptions = {
        center: new google.maps.LatLng(37.7833, -122.4167),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);

      <% @trucks.each do |t| %>
        <% unless t.latitude == nil %>
          var lat = "<%= t.latitude %>"
          var lon = "<%= t.longitude %>"
          var title = "<%= t.applicant %>"
          var position = new google.maps.LatLng(lat, lon);
          console.log(lat + ' ' + lon);

          function createMarker(position, map, title) {
            marker = new google.maps.Marker({
              position: position,
              map: map,
              title: title
            });
          }
          createMarker(position, map, title);
        <% end %>
      <% end %>
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div id="map" class ="col-7">
  </div>

      <div id="table" class="col-5 text-center">
        <table class="table text-center">
          <thead>
            <tr>
              <th class="text-center">Truck Name</th>
              <th class="text-center">Address</th>
            </tr>
          </thead>
          <tbody>
            <% @trucks.each do |truck| %>
            <tr>
              <td>
                <%= truck.applicant.capitalize %>
              </td>
              <td>
                <%= truck.address %>
              </td>
            </tr>
            <% end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="bigvideo">
    <script>
      // $( document ).ready(function() {
        $(function() {
          var BV = new $.BigVideo();
          BV.init();
          // BV.show("<%= request.protocol + "/" + request.host_with_port + asset_path('foodvideo.mp4') %>",{ambient:true});
          BV.show("http://media5001.dropshots.com/photos/1322828/20160122/205327.mp4",{ambient:true});
        });
      // });
    </script>
  <div>

</div>